.mat-mdc-snack-bar-container.snackbar-danger .mdc-snackbar__surface {
  background-color: #f44336 !important;
  color: #ffffff !important;
}

.mat-mdc-snack-bar-container.snackbar-info .mdc-snackbar__surface {
  background-color: #2196f3 !important;
  color: #ffffff !important;
}

.mat-mdc-snack-bar-container.snackbar-warning .mdc-snackbar__surface {
  background-color: #ff9800 !important;
  color: #ffffff !important;
}

.mat-mdc-snack-bar-container.snackbar-success .mdc-snackbar__surface {
  background-color: #4caf50 !important;
  color: #ffffff !important;
}

.mdc-snackbar__surface {
  box-shadow: none !important;
}

.mat-mdc-snack-bar-container {
  max-width: 600px !important;
  /* Adjust the width as needed */
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 12px !important;
  border-radius: 4px !important;
}