<mat-card-title>{{title}}</mat-card-title>
<mat-card-content>
    <div  class="row">
    <div class="col-md-6">
        <img class="login-img" mat-card-image src="../../../assets/forget-password.jpg" alt="Login">
    </div>
    <form [formGroup]="ForgetPass" (ngSubmit)="OnSubmit()"  class="col-md-6 d-flex justify-content-center flex-column">
       <!-- <h4 class="text-center mb-3">Welcome Back!!</h4> -->
        <mat-form-field>
            <mat-label>Enter Your Email Address</mat-label>
            <a  mat-icon-button matSuffix> <mat-icon>mail</mat-icon> </a>
            <input   matInput placeholder="Enter your email" formControlName="email"  required>
  
            <mat-error *ngIf="ForgetPass.controls['email'].errors?.['pattern']">Please enter valid email</mat-error>
        </mat-form-field>
       
        <button class="mx-auto d-block" mat-raised-button color="primary" type="submit" [disabled]="submitting">
            <span *ngIf="submitting"> <mat-spinner></mat-spinner></span> 
            Submit </button>
           
       
        <mat-card-footer>Don't Have An Account? <a routerLink="/register">Register Now!!</a></mat-card-footer>
    </form>
</div>
</mat-card-content>
