<mat-card-title>{{title}}</mat-card-title>
<mat-card-content>
    <div  class="row">
    <div class="col-md-6">
        <img class="login-img" mat-card-image src="../../../assets/reset-password.jpg" alt="Login">
    </div>
    <form [formGroup]="ResetPass" (ngSubmit)="OnSubmit()"  class="col-md-6 d-flex justify-content-center flex-column">
       <!-- <h4 class="text-center mb-3">Welcome Back!!</h4> -->
       
       <mat-form-field>
        <input matInput placeholder="Enter your password" required [type]="hide ? 'password' : 'text'" formControlName="password">
        <mat-label>Enter Your Password</mat-label>
        <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </a>

        <mat-error *ngIf="ResetPass.controls['password'].errors?.['pattern']">Password must containe at least 8 characters including 1 capital letter, 1 small letter, 1 digit and 1 special character</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Confirm Your password" required [type]="Confirmhide ? 'password' : 'text'" formControlName="confirmPass">
        <mat-label>Re - Enter Your Password</mat-label>
        <a mat-icon-button matSuffix (click)="Confirmhide = !Confirmhide"
            [attr.aria-label]="'Hide confirm password'" [attr.aria-pressed]="Confirmhide" >
            <mat-icon>{{Confirmhide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </a>

         <mat-error *ngIf="ResetPass.controls['confirmPass'].errors?.['PasswordValidators.MatchValidator']">Password and Confirm Password does not match</mat-error>

    </mat-form-field>
       
        <button class="mx-auto d-block" mat-raised-button color="primary" type="submit" [disabled]="submitting">
            <span *ngIf="submitting"> <mat-spinner></mat-spinner></span> 
            Submit </button>
           
<!--        
        <mat-card-footer>Don't Have An Account? <a routerLink="/register">Register Now!!</a></mat-card-footer> -->
    </form>
</div>
</mat-card-content>
