mat-card{
    max-width: 1000px;
    margin-top: 10rem
}
mat-form-field{
    width:100%;
}
mat-card-title{
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    margin: 1rem;
}
mat-icon{
    color:black
}
.login-img{
     max-width: 500px;
    max-height: auto; 
    background-size: cover;
    border-radius: 10%;
}
mat-card-footer{
    text-align: center;
    margin-top: 1rem;
    
}

